page-home {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .conten
      {
          ::-webkit-scrollbar{
            display:none;
            }
      }

      ion-header, ion-footer {
        .toolbar {      
          .toolbar-background {
            background-color: #232526;
          }
          .toolbar-title {
            color: orange;
          }
        }
      }

      .navmenu
      {
        color: orange;
      }
      .navmenu:hover
      {
        color: white;
      }

 





}
