page-reset-password {
    .login {
        background-color: transparent;
        font-weight: bold;
        color: grey;
        font-size: 12px;
    }
    .login:hover {
        background-color: transparent;
        color: orange;
    }
    .item.item-input {
        background-color: transparent;
        color:orange;
    }
    .item.item-input {
        background-color: transparent;
        color:white;
    }
    .conten
    {
        background: linear-gradient(to right, #232526, #414345);
        ::-webkit-scrollbar{
            display:none;
            }
    }
    .resetp
    {
        color:orange;
        
    }
    .resetp:hover
    {
        color:white;
    }
    ion-header, ion-footer{
        .toolbar {      
          .toolbar-background {
            background: rgba(36, 36, 36, 0.308);
          }
          .toolbar-title {
            color: orange;
          }
        }
      }
      .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
        color: white; //label color when focusing

        }
        .item-input .label-md{
                color: grey; //label color
        }
        .validator-error
        {
            color: white;
            font-size: 12px;
            padding-top: 5px;
        }
        .text1
        {
            color: rgb(212, 212, 212);
            font-size: 12px;
            padding-top: 20px;
        }
        .rpbutton
        {
            padding-top: 30px;
        }

}
